html, body{
  padding: 0;
  margin: 0;
}

.bottom-nav-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 10vh;
  display: none;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.menu-item {
  background-color: rgba(59, 89, 152);
  width: 100%;
  height: 100%;
  border: 2px solid black;
  box-sizing: border-box;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-item:hover {
  cursor: pointer;
  background-color: rgb(109, 146, 224);
}


/* Second menu styling */

.second-menu-btn {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: rgb(6, 80, 238);
  color: rgb(235, 227, 227);
}

.second-menu-btn:hover {
  background-color: rgb(75, 124, 230);
}

.fa-bars {
  font-size: 2.25rem;
}

.second-menu-options {
  position: fixed;
  animation: expand-menu .5s ease 1;
  animation-fill-mode: forwards;
  display: none;
  flex-direction: column;
}

.second-menu-item {
  color: rgb(235, 227, 227);
  background-color: rgb(108, 145, 224);
  border-radius: 50%;
  animation: expand-menu .5s ease 1;
  animation-fill-mode: forwards;
  margin-top: .25rem;
}

.second-menu-item:hover {
  background-color: rgb(75, 124, 230);
}

@keyframes expand-menu {
  from {
    font-size: .5rem;
    bottom: 50px;
    right: 50px;
  }
  to {
    font-size: 2rem;
    bottom: 100px;
    right: 30px;
  }
}